Django==4.2.5
django-phonenumber-field==7.1.0
django-environ==0.11.2
django-filter==23.2
django-ipware==5.0.0
django-cors-headers==4.2.0
drf-yasg==1.21.7
psycopg2-binary==2.9.7
phonenumberslite==8.12.44
pdfkit==1.0.0
jinja2==3.1.2
