
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
  word-wrap: break-word;
}


.page-container {
  margin: 0 auto;
  padding: 20px;
}


.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 105px;
  height: 105px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}


.invoice-info-container {
  font-size: 1em; 
  margin-bottom: 20px;
}

.client-name {
  font-size: 1.5em;
  font-weight: bold;
}

.client-address {
  margin-bottom: 5px;
}

.invoice-details {
  display: flex;
  justify-content: space-between;
}


.line-items-container {
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
}

.line-items-container table {
  width: 100%;
  border-collapse: collapse;
}

.line-items-container th,
.line-items-container td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}


.line-items-container th {
  font-weight: bold;
  color: #555;
  background-color: #f2f2f2; 
}

.line-items-container th:last-child,
.line-items-container td:last-child {
  text-align: right;
}


.payment-info {
  width: 40%;
}

.payment-info div {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.payment-info strong {
  font-weight: bold;
}


.footer {
  text-align: center;
  font-size: 0.875em;
  color: #777;
  margin-top: 30px;
}

.footer-info {
  margin-top: 5px;
  font-size: 0.75em;
  color: #999;
}

.footer-thanks {
  font-size: 1.125em;
  margin-top: 10px;
  color: #555;
}

.footer-thanks img {
  display: inline-block;
  width: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
.total-text {
color: lightcoral;
}
